<<<<<<< HEAD
<footer>
  <nav>
    <ul class="nav_links">
      <li><a href="#">Dizeres Legais</a></li>
      <li><a href="#">Sobre Nós</a></li>
      <li><a href="#">Suporte</a></li>
    </ul>
  </nav>
</footer>
=======

<footer>
    <nav>
      <ul class="nav_links">
        <li><a href="#">Dizeres Legais</a></li>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Suporte</a></li>
      </ul>
    </nav>
  </footer>
>>>>>>> fdef627413d1efa1ec1bab429d2b9a88155dda51
