<%-include('./partials/head')%>

<body>
  <%-include('./partials/header')%>
  <main class="mainCriarSessao">
    <section class="criarSessao" >
      <h2>Crie uma sessão</h2>
      <div></div>
      <form action="">
        <p>Titulo da sessão</p>
        <div>
          <input class="inputCriarSessao"  type="text" value="Titulo do filme" />
        </div>
        <p>Descrição</p>
        <div><input  type="text" name="" id="inputDescricaoCriarSessao" /></div>
        <p>Data</p>
        <div class="inputCriarSessao2">
          <input class="inputDate" type="date" />
          <p>Horário</p>
          <input class="inputDate" type="time" />
          <p>Duração</p>
          <input class="inputDate" type="time" />
        </div>
        <p>Local</p>
        <div><input class="inputCriarSessao"  type="text" value="Link para o Discord"/></div>
        <div ></div>
        <p>Convidados</p>
        <div>
          <input
          class="inputCriarSessao" 
            type="email"
            value="E-mail dos convidados"
          />
          <button id="buttonAdicionar" type="submit">
            <strong>Adicionar</strong>
          </button>
        </div>
        <div>
          <img
            src="/images/Imagens-criacao-de-sessao/usuarioSessao.svg"
            alt="icone usuario"
          />
          <img
            src="/images/Imagens-criacao-de-sessao/usuarioSessao.svg"
            alt="icone usuario"
          />
          <img
            src="/images/Imagens-criacao-de-sessao/usuarioSessao.svg"
            alt="icone usuario"
          />
          <img
            src="/images/Imagens-criacao-de-sessao/usuarioSessao.svg"
            alt="icone usuario"
          />
        </div>
        <button class="btn" type="submit">
          <strong>Criar sessão</strong>
        </button>
      </form>
    </section>
  </main>
  <%-include('./partials/footer')%>
</body>
