<%-include('./partials/head')%>

<body>
  <%-include('./partials/header')%>
  <main id="mainHomeForum">
    <div>
      <h1><strong>Forums</strong></h1>
    </div>
    <section id="sectionForum1">
      <p id="mensagensFimatchForum">
        <h2><strong> Mensagens da <span style="color: #FF3939;">Filmatch</span></strong></h2>
        <button><strong>Inicar um tópico</strong></button>
      </p>

      <div class="container1Forum">
        <div id="conteudoContainerForum">
         <strong> <p>Informaçoes importantes</p></strong>
          <p>regras da comunidade</p>
          <p>aprenda as regras do forum e fique ligado</p>
        </div>
        <div id="posts1Forum"><p>13 posts</p></div>
        <div id="nomeTopico1Forum">
          <p class="nomeDoTopico">nome do tópico</p>
          <p>By lorem</p>
          <p>27 de novembro 2021</p>
        </div>
      </div>
      <div class="container1Forum">
        <div id="conteudoContainerForum">
          <strong><p>Noticias e novidades</p></strong>
          <p>Sessões em manutenção</p>
          <p>Fique ligado em noticias e acontecimentos da Filmatch</p>
        </div>
        <div id="posts1Forum"><p>12 posts</p></div>
        <div id="nomeTopico1Forum">
          <p class="nomeDoTopico">nome do tópico</p>
          <p>By lorem</p>
          <p>27 de novembro 2021</p>
        </div>
      </div>
    </section>
    <p id="mensagensFimatchForum"><h2>Comunidade <span style="color: #FF3939;">FILMATCH</span></h2></p>
    <section id="section2Forum">
      <div>
        <div class="container1Forum">
          <div id="conteudoContainerForum">
            <strong><p>Noticias e novidades</p></strong>
            <p>Sessões em manutenção</p>
            <p>Fique ligado em noticias e acontecimentos da Filmatch</p>
          </div>
          <div id="posts1Forum"><p>12 posts</p></div>
          <div id="nomeTopico1Forum">
            <p class="nomeDoTopico">nome do tópico</p>
            <p>By lorem</p>
            <p>27 de novembro 2021</p>
          </div>
        </div>
      </div>
      <div class="container1Forum">
        <div id="conteudoContainerForum">
          <strong><p>Noticias e novidades</p></strong>
          <p>Sessões em manutenção</p>
          <p>Fique ligado em noticias e acontecimentos da Filmatch</p>
        </div>
        <div id="posts1Forum"><p>12 posts</p></div>
        <div id="nomeTopico1Forum">
          <p class="nomeDoTopico">nome do tópico</p>
          <p>By lorem</p>
          <p>27 de novembro 2021</p>
        </div>
      </div>
      <div class="container1Forum">
        <div id="conteudoContainerForum">
          <strong><p>Noticias e novidades</p></strong>
          <p>Sessões em manutenção</p>
          <p>Fique ligado em noticias e acontecimentos da Filmatch</p>
        </div>
        <div id="posts1Forum"><p>12 posts</p></div>
        <div id="nomeTopico1Forum">
          <p class="nomeDoTopico">nome do tópico</p>
          <p>By lorem</p>
          <p>27 de novembro 2021</p>
        </div>
      </div>
    </section>
  </main>
</body>
