<%-include('./partials/head')%>

<body>
  <%-include('./partials/header')%>
  <main class="mainForum">
    <div class="forum">
      <h3>Fórums</h3>
      <div id="mensagensForum">
        <p>Mensagens da <strong style="color: #8E0E00;">FILMATCH</strong></p>
      </div>
      <div class="informaçoesImportantes">
        <p>Informaçoes importantes</p>
        <p>regras importantes</p>
        <p>aprenda as regras do forum e fique ligado</p>
      </div>
      <div>
        <p>Noticias e novidades</p>
        <p>sessoes em manutenção</p>
        <p>Fique ligado nas noticias e acontecimentos da FILMATCH</p>
      </div>
      <div id="mensagensForum"><p>Comunidade <strong style="color: #8E0E00;">FILMATCH</strong></p></div>
      <div>
        <p>Top filmes</p>
        <p>Veja o que estão falando sobre os principais filmes.</p>
      </div>
      <div>
        <p>Generos</p>
        <p>Filmes separados por genero</p>
      </div>
      <div>
        <p>Suporte</p>
        <p>Suporte ao usuario e sugestoes de melhoria</p>
      </div>
    </div>
  </main>
  <%-include('./partials/footer')%>
</body>
