<%-include('./partials/head')%>

<body>
  <%-include('./partials/header')%>
  <main>
    <section id="sectionSinopse">
      <div id="posterResultadoFilmes">
        <img
          src="/images/imagens-resultado-filmes/posterArcane.svg"
          alt="poster arcane"
        />
        <div id="nomePoster">
          <p>Arcane</p>
        </div>
        <img
          id="avaliacaoFilme"
          src="/images/imagens-resultado-filmes/avaliacao-4.5.svg"
          alt="avaliacao 4.5"
        />
      </div>
      <div>
        <div id="sinopse">
          <p><strong>Sinopse</strong></p>
          <p>
            Em meio ao conflito entre as cidades-gêmeas de Piltover e Zaun, duas
            irmãs lutam em lados opostos de uma guerra entre tecnologias mágicas
            e convicções incompatíveis.
          </p>
          <p>Disponível em:</p>
        </div>
        <p id="infoFilme">2021 • Fantasia Científica • 1 Temporada</p>
        <div id="proximasSessoes">
          <p>Próximas sessões de “Arcane”</p>
          <div id="infoSessoes">
            <p>Arcane</p>
            <p>00:00 00/00</p>
          </div>
          <button>Criar uma nova sessão</button>
        </div>
      </div>
      <div id="linhaVerticalPaginaResultado"></div>
    </section>
    <section id="sectionForumPaginaResultado">
      <p id="ultimasAtividadesForum">
        <strong>Ultimas atividades no Fórum sobre: “Arcane”</strong>
      </p>
      <div id="tituloTopicoPaginaResultado">
        <img
          src="/images/imagens-resultado-filmes/imagemUserForum.svg"
          alt=""
        />
        <div>
          <p>Titulo do tópico</p>
          <p>Nome do fórum qu e se encontra o tópico</p>
        </div>
      </div>
      <div id="conteudoTopicoCadastro">
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota
          uma pinga aí cumpadi! Praesent vel viverra nisi. Mauris aliquet nunc
          non turpis scelerisque, eget...
        </p>
      </div>
      <div id="verMaisResultadoFilme">
        <p>27/11/2021 | 12:12</p>
        <button>Ver mais</button>
      </div>
      <div id="linhaHorizontalPaginaCadastro"></div>
      <p id="ultimasAtividadesForum">
        <strong>Ultimas atividades no Fórum sobre: “Arcane”</strong>
      </p>
      <div id="tituloTopicoPaginaResultado">
        <img
          src="/images/imagens-resultado-filmes/imagemUserForum.svg"
          alt=""
        />
        <div>
          <p>Titulo do tópico</p>
          <p>Nome do fórum qu e se encontra o tópico</p>
        </div>
      </div>
      <div id="conteudoTopicoCadastro">
        <p>
          Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota
          uma pinga aí cumpadi! Praesent vel viverra nisi. Mauris aliquet nunc
          non turpis scelerisque, eget...
        </p>
      </div>
      <div id="verMaisResultadoFilme">
        <p>27/11/2021 | 12:12</p>
        <button>Ver mais</button>
      </div>
      <div id="linhaHorizontalPaginaCadastro"></div>
    </section>
  </main>
  <%-include('./partials/footer')%>
</body>
